<configuration>

  <!-- FILE appender is disabled -->

  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] [%c{1}]\(%F:%L\) %m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender"
    name="FILE">
    <file>./logs/tron-test.log</file>
    <rollingPolicy
      class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>./logs/tron-test-%d{yyyy-MM-dd}.%i.log.zip
      </fileNamePattern>
      <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
      <maxFileSize>100MB</maxFileSize>
      <maxHistory>60</maxHistory>
      <totalSizeCap>20GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] [%c{1}]\(%F:%L\) %m%n</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.FileAppender" name="NET_FILE">
    <file>./logs/net.log</file>
    <append>true</append>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] [%c{1}]\(%F:%L\) %m%n</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
  </root>

  <logger name="io.netty" level="DEBUG" additivity="false">
    <appender-ref ref="NET_FILE"/>
  </logger>

  <logger name="io.grpc.netty" level="DEBUG" additivity="false">
    <appender-ref ref="NET_FILE"/>
  </logger>

  <logger name="grpcClient" level="DEBUG" additivity="false">
    <appender-ref ref="NET_FILE"/>
  </logger>

  <logger name="grpcServer" level="DEBUG" additivity="false">
    <appender-ref ref="NET_FILE"/>
  </logger>

  <logger name="grpcTest" level="DEBUG" additivity="false">
    <appender-ref ref="NET_FILE"/>
  </logger>

</configuration>
